.Pie_chart {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 3rem;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 1rem;
  border: solid 2px white;
  svg {
    width: 200px;
    height: 200px;
    .pie_slice {
      transform-origin: center;
      transition: 0.2s;
    }
  }
  ul {
    padding-top: 1rem;
  }
  li {
    display: flex;
    gap: 1rem;
    .dot {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background-color: aqua;
    }
    font-size: 1rem;
  }
}
